.headers-align {
    flex-basis: 0;
    justify-content: space-between;
    align-items: center;
    display: block;
}
.mat-content{
    align-items: center;
}

.avatar-image {
    height:40px;
    border-radius:50%;
}
.user-name {
    font-weight: bold;
}

.details {
    margin-left: 5px;
}

.header-icon {
    font-size: 15px;
    box-sizing: border-box;
    padding-top: 2px;
}